body { padding: 0; margin: 0 }
#unity-container { position: absolute; width: 100%; height: 100%; }
#unity-canvas { width: 100%; height: 100%; background: #FFFFFF;}
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full.png') no-repeat center }
.unity-mobile #unity-footer { display: none }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }

.toolbar {
    padding: 0 10px 0 10px;
    border-radius: 4px 0 0 4px;
    background-color: #3f2a56;
    right: 0;
    top: 10px;
    position: fixed;
    z-index: 1;
    display: block;
}

.toolbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #fff;
}

.toolbar ul li {
    margin: 0;
    width: 40px;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 1.0rem;
}

.toolbar ul li.icon a img {
    width: 30px;
    height: 30px;
    padding: 5px 5px;
}

.toolbar ul li.icon a {
    padding: 0;
}

.toolbar ul li a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
    line-height: 40px;
}

.toolbar ul li:hover {
    background-color: #543C6E;
}

